@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');
*,
::before,
::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  background-color: #000;
  color: #fff;
  width: 100%;
}
.info{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.glitch-bloc{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.1;
}
.glitchedAnim,
.invisible-text{
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 250px;
    font-weight:400;
    line-height: 1.1;
}
.glitchedAnim{
  position: absolute;
  top: 0;
  opacity: 0.9;
}
.invisible-text{
  visibility: hidden;
}
.glitchedAnim:nth-child(2){
  color: #f03e3e;
  animation: skewAnim 3s infinite;
}

.glitchedAnim:nth-child(3) {
  color: #3df0cf;
  animation: glitchedAnim2 3s infinite;
}

.glitchedAnim:nth-child(4) {
  color: #f1f1f1;
  animation: glitchedAnim1 3s infinite;
}
.text-info{
  font-family: Helvetica,
  sans-serif,
  Arial;
  color: #f1f1f1;
  font-size: 20px;
}
.link-if-404{
  color: #3df0cf;
  line-height: 2;
}
.link-if-404:hover{
  transition: color 0.6s ease-in-out;
  color: #f1f1f1;
}
@keyframes glitchedAnim1 {
  7%{
    transform: none;
  }
  10%{
    transform: translate(6px, -2px);
  }
  13%{
    transform: none;
  }
  20%{
    transform: none;
  }
  23%{
    transform: translate(-12px, -7px);
  }
  26%{
    transform: none;
  }
  40%{
    transform: translate(10px, -9px);
  }
  46%{
    transform: none;
  }
  65%{
    transform: none;
  }
  68%{
    transform: translate(7px, 5px);
  }
  71%{
    transform: none;
  }
  100% {
    transform: none;
  }
}

@keyframes glitchedAnim2 {
  7% {
    transform: none;
  }
  10%{
    transform: translate(-6px, 2px);
  }

  13% {
    transform: none;
  }

  20% {
    transform: none;
  }

  23% {
    transform: translate(12px, 7px);
  }

  26% {
    transform: none;
  }

  40% {
    transform: translate(-10px, 9px);
  }

  46% {
    transform: none;
  }

  65% {
    transform: none;
  }

  68% {
    transform: translate(-7px, 5px);
  }

  71% {
    transform: none;
  }

  100% {
    transform: none;
  }
}
@keyframes skewAnim {
  20%{
    transform: none;
  }
  23% {
    transform: skew(5deg, -5deg) translate(10px, 5px);
  }
  26% {
    transform: none;
  }
  40% {
    transform: none;
  }
  43% {
    transform: skew(5deg, -10deg) translate(-5px, 2px);
  }
  46% {
    transform: none;
  }
  100%{
    transform: none;
  }
  
}

