*{
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
body{
  background: var(--body-background);
  transition: all .3s linear;
}
a {
  text-decoration: none;
}
/*.articles {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--body-background);
  height: auto;
}*/
.article {
  width: 300px;
  border-radius: 10px;
  background-color: var(--article-box-color) !important;
  border: 1px solid transparent ; /*Pour evitez les de calage*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all .3s ease-in-out;
  border: 1px solid var(--article-box-color);
}
.article:hover {
  border: 1px solid rgba(255, 255, 255, 0.6);
  transition: all .5s ease-in-out;
}
.article img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  object-position: center;
  transition: all 1.5s ease-in-out;
  overflow: hidden;
}
.article:hover img {
  transform: scale(1.3) rotateZ(11deg);
  transition: all 3s ease-in-out;
}
.article .content {
  padding: 20px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0 0 4px 4px;
}
.article .content p {
  font-weight: 200;
  min-height: 70px;
  margin-top: -30px;
  font-size: 17px;
  line-height: 24px;
  color: var(--white);
  opacity: .6;
  letter-spacing: .5px;
  font-family: 'Oxygen',
  sans-serif;
}
.article .content h2.article-title {
  font-size: 18px;
  color: var(--text-color);
  font-weight: 500;
}
.article .content h2.article-title:hover {
  animation: logo-glich 0.5s;
}
.article .content span {
  font-size: 14px;
  color: var(--white);
  font-family: 'Oxygen',
  sans-serif;
  opacity: .5;
}
.article-supplementary-information{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.image {
  position: relative;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  width: 100%;
  height: 200px;
}
.tags {
  position: absolute;
  top: 0.2rem;
  left: 1rem;
  display: flex;
  flex-wrap: wrap;
}
.tag {
  font-size: small;
  background-color: var(--gree-dusky-color);
  padding: 4px 7px;
  border-radius: 4px;
  margin-right: 8px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.05);
  transition: all 0.5s;
  margin-top: 0.8rem;
}
.tag:hover {
  background-color: var(--white);
  color: var(--gree-dusky-color);
}

.articles-container {
  max-width: 1300px;
  display: grid;
  /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 11px;
  justify-content: center;
  margin: 50px auto 0;
}
/***************** Pagination ************************/
.pagination {
  display: inline-block;
  background-color: var(--body-background);
}
.center{
  text-align: center;
  padding: 50px 0 15px 0;
  background-color: var(--body-background);
}

.pagination a {
  color: var(--text-color);
  float: left;
  padding: 8px 14px;
  text-decoration: none;
  margin: 0px 2px;
  transition: all .5s;
}

.pagination a.active {
  background-color: var(--gree-dusky-color);
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: var(--pagination-items-color);
  border-radius: 5px;
}
/************** progress bar ****************/
#progress-bar{
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  background-color: var(--gree-dusky-color);
  width: 0%;
  z-index: 100;
  transition: width 0.25s ease-out;
}