@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a{
        font-size: 15px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #1C3144;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        height: 30px;
    }

    a:hover,a.active{
        background: none;
        color: #0082e6
    }

    #check:checked ~ ul{
        left: 0;
      }
}

@media (max-width: 860px){
    input{
        width: 600px;
    }
    textarea{
        width: 600px;
    }
}