@media only screen and (max-width: 1030px){
    .article-items{
        justify-content: center;
    }
    .article{
        width: 250px;
        margin-bottom: 30px;
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media only screen and (max-width: 670px){
    .principale{
        flex-direction: column;
        
    }

    .article-view-content{
        letter-spacing: -0.003em;
        font-size: 18px;
        line-height: 30px;
        font-weight: 100;
    }
    .article-view-container{
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #51cf66;
    }
    .last-article-contenaire {
        display: flex;
        flex-direction: column;
    }
    .last-articles{
        margin: auto;
        width: 100%;
        /*border: 3px solid green;*/
        padding: 10px;
    }
    /*.last-title{
        margin: auto;
        width: 50%;
        border: 3px solid green;
        padding: 10px;
    }*/
}